<%- include('./partials/header.ejs')%>
<h3><%= message %></h3>
<hr>
<nav>
  <ul>
    <li><a href="/style/one">one</a></li>
    <li><a href="/style/two">two</a></li>
    <li><a href="/style/three">three</a></li>
    <li><a href="/style/about">about</a></li>
  </ul>
</nav>
<hr>
<header>
  <h1>Azzedine Alaïa Runway Report</h1>
</header>
<div class="feature">
  <div class="creative">
    <img src="alaia.jpg" alt="">
    <p>Alaïa Pre-Fall 2019 via Vogue</p>
  </div>
  <div class="copy">
    <h3>Runway review by Debbie Chong</h3>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. <a href="/style">Read more here.</a> </p>
  </div>
  <!--<div class="aside">
    <article class="">
      <p>It is a long established fact that a reader will be distracted by the readable</p>
    </article>
    <article class="">
      <p>It is a long established fact that a reader will be distracted by the readable</p>
    </article>
    <article class="">
      <p>It is a long established fact that a reader will be distracted by the readable</p>
    </article>

  </div>-->
</div>
<div class="posts">
  <article class="">
    <h3><a href="/style/one">one</a></h3>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>

  </article>
  <article class="">
    <h3><a href="/style/two">two</a></h3>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>

  </article>
  <article class="">
    <h3><a href="/style/three">three</a></h3>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>

  </article>
</div>
